#
# when parsed, blank lines (including any whitespace) are ignored
# all content after a '#' is removed
#
# the remaining content is parsed, with whitespace (any number of) seperating the following fields:
#
# - server.host.example.com
# - ports (multiple comma seperated). "-starttls" will be determined by port)
# - uripath (path to find content for data check)
#   - MUST begin with a "/" unless it's a placeholder
#   - MUST NOT contain spaces (%20 URL encoding is fine)
# - content (content string to check for)
#   - MAY contain spaces
#   - For IMAP/SMTP/etc banner checks, the uripath field is an unused placeholder

#
# Only the 'server' field is required. Port will be assumed as 443. 
# Port field must be provided if uripath and content fields are to be checked
#
# NOTE: Further refinement of this config format is planned
#
# * consider parsing the config lines through `column -t` for readability
# * Remember when setting up hosts, to add all relevant ports/services

# sample config:
wikipedia.org   443      /  Wikimedia Foundation
archive.org     443      /  Wayback Machine
kernel.org
imap.gmail.com  993     ___     OK Gimap ready
pop.gmail.com   995     ___     OK Gpop ready
smtp.gmail.com  465     ___     250-smtp.gmail.com at your service
smtp.gmail.com  587     ___     250-smtp.gmail.com at your service
